name: Deploy to GitHub Pages

on:
  # Déclenche le workflow à chaque push vers main
  push:
    branches: [ main ]
  # Permet un déploiement manuel depuis Actions
  workflow_dispatch:

# Permet de déployer depuis GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Une seule exécution de déploiement à la fois
concurrency:
  group: pages
  cancel-in-progress: false

env:
  BUILD_PATH: "."

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Detect package manager
        id: detect-package-manager
        run: |
          if [ -f "${{ env.BUILD_PATH }}/yarn.lock" ]; then
            echo "package-manager=yarn" >> $GITHUB_OUTPUT
            echo "package-manager-version=$(yarn --version)" >> $GITHUB_OUTPUT
          elif [ -f "${{ env.BUILD_PATH }}/pnpm-lock.yaml" ]; then
            echo "package-manager=pnpm" >> $GITHUB_OUTPUT
            echo "package-manager-version=$(pnpm --version)" >> $GITHUB_OUTPUT
          elif [ -f "${{ env.BUILD_PATH }}/package-lock.json" ]; then
            echo "package-manager=npm" >> $GITHUB_OUTPUT
            echo "package-manager-version=$(npm --version)" >> $GITHUB_OUTPUT
          else
            echo "Unable to determine package manager"
            exit 1
          fi

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: ${{ steps.detect-package-manager.outputs.package-manager }}
          cache-dependency-path: ${{ env.BUILD_PATH }}/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: ${{ env.BUILD_PATH }}

      - name: Build with Astro
        run: npm run build
        working-directory: ${{ env.BUILD_PATH }}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ env.BUILD_PATH }}/dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
